.container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-image: linear-gradient(#1a357c, #5a3e8c);
  border-radius: 2%;
}

p {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
}

a {
  font-weight: 400;
  font-size: 1.05rem;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}

.box {
  text-align: center;
}
